/* start variable */
/*End variable */
/* start global rules */
:root {
    ---mainColor: #10c9b7;
    ---secondryColor: #2c4755;
    --section-padding: 60px;
    -----section-background: #f6f6f6;
}

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*Medim Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */
/* start components (العناصصر المتكررة )*/

.special-heading {
    margin: 0;
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
    font-weight: 800;
}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    color: #777;
    font-size: 20px;
}

@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }
}

/* end component  */
/* start header  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    background-color: #eee;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    /*to stay with links */
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: 0.3s;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links ul a {
    text-decoration: none;
    color: #333;
    padding: 15px;
    display: block;
    transition: 0.3s;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* end header  */
/* start landing  */
.landing {
    background-image: url(/img/images\ .jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    /*64 the surface of header */
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: var(---mainColor);
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end landing */
/* start feature  */
.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(---sectionBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.feature .container .feat {
    text-align: center;
    padding: 20px;
}

.feature .container .feat i {
    color: var(---mainColor);
    font-size: 50px;
}

.feature .container .feat h3 {
    font-weight: 800;
}

.feature .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end feature  */
/* start services */

.services {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .container .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .container .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .services-content .col .srv i {
    color: var(---mainColor);
    font-size: 40px;
    flex-basis: 60px;
}

.services .container .services-content .col .srv .text {
    flex: 1;
    /*لياخذ باقي المساحة */
}

.services .container .services-content .col .srv h3 {
    font-weight: 800;
    margin: 0 0 20px;
}

.services .container .services-content .col .srv p {
    line-height: 1.6;
    color: #444;
    font-weight: 300;
}

.services .container .services-content .col .image {
    text-align: center;
    position: relative;
    z-index: 2;
}

.services .container .services-content .col .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(---secondryColor);
    top: -50px;
    right: 0;
    z-index: -1;
}

.services .container .services-content .col .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* end services */
/* start portfolio  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* end portfolio  */
/* start about  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* end about  */
/* start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
    background-color: #f6f6f6;
}
.contact .container .info {
   text-align: center;
}
.contact .container .info .label {
    color: var(---secondryColor);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -2px;
}
.contact .container .info a {
    text-decoration: none;
    color: var(---mainColor);
    font-size: 35px;
    font-weight: bold;
}
.contact .container .contact-content .social  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .container .contact-content .social i {
    padding-left: 5px;
    color: var(---secondryColor);
}
@media (max-width: 767px) {
    .label 
    a{
        font-size: 25px;
    }
}

/* end contact  */
/* start footer  */
.footer {
    background-color: var(---secondryColor);
}
.footer .copy {
    padding: 30px;
    text-align: center;
    color: white;
}
.footer .copy span {
    color: var(---mainColor);
    font-weight: 800;
}
/* end footer  */